
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客列表</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="application/javascript" src="/static/js/jquery.min.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="{% url 'blog_list' %}">花若盛開 蝴蝶自來</a></h1>
            <div class="site-introduction">这是我用Django2.0和bootstrap搭建的博客</div>
        </div>
        <nav class="navbar-default site-navigation" role="navigation">
            <div class="container-fluid" >
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#navbar-collapse"><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="menu">
                    <li class="nav-active"><a href="{% url 'blog_list' %}">博客列表</a></li>{# 这里有不同 #}
                </ul>
            </div>
            </div>
         </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;font-size: 40px">{{ blog.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ blog.body_markdown|safe }}
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-2">
                {{ blog.toc|safe }}
            </div>
        </div>
    </div>

</body>
</html>
